body {
	margin:0px;
	padding:0px;
	background: url("1.jpg") no-repeat center fixed;
	background-size:cover;
}

#content{
	margin: 0px auto;
}

#pic{
	position: absolute;
	background: url("5.JPG");
	top: 220px;
	left: 390px;
	width: 400px;
	height: 300px;
}
#pic:hover {
	position: absolute;
	background: url("4.JPG");
	top: 220px;
	left: 390px;
	width: 400px;
	height: 300px;
}
#pic1{
	position: absolute;
	background: url("8.jpg");
	top: 180px;
	left: 100px;
	width: 288px;
	height: 384px;
}
#pic1:hover {
	position: absolute;
	background: url("9.jpg");
	top: 180px;
	left: 100px;
	width: 288px;
	height: 384px;
}
#text{
	position: absolute;
	top: 270px;
	left: 800px;
	font-size: 30px;
}

#menu1{
	position: absolute;
	top: 40px;
	left: 650px;
	font-size: 25px;
}
#menu1 a:hover{
	color: #000000;
}

#menu2{
	position: absolute;
	top: 40px;
	left: 740px;
	font-size: 25px;
}
#menu2 a:hover{
	color: #000000;
}

#menu3{
	position: absolute;
	top: 40px;
	left: 850px;
	font-size: 25px;
}
#menu3 a:hover{
	color: #000000;
}

#menu4{
	position: absolute;
	top: 40px;
	left: 970px;
	font-size: 25px;
}
#menu4 a:hover{
	color: #000000;
}

#menu5{
	position: absolute;
	top: 40px;
	left: 1080px;
	font-size: 25px;
}
#menu5 a:hover{
	color: #000000;
}


#title{
	position: absolute;
	top: 20px;
	left: 30px;
	font-size: 50px;
}
	
	
	
	
	